
  @import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Lilita+One&family=Sigmar&family=Titan+One&display=swap');

.body{
  background-color: aliceblue;
  
}
.App{
  max-width: 540px;
  margin:100px auto;
}
.container{
  background: linear-gradient(109.6deg, rgb(120, 212, 234) 11.2%, rgb(216, 226, 253) 72.1%);
  border: 5px ;
  border-radius: 10px;
  padding: 20px;
}
.search-form{
  margin: 5px 2px;
}
.description{
  background-color: rgb(192, 253, 253, 0.10);
  border: 1px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px rgb(0, 0, 0 , 0.08);
  margin: 20px auto;
  line-height: 2;
  padding: 20px;
}
.left-boxes{
  margin: 20px auto;
  text-align: center;

}
.temperature{
  background-color: rgb(192, 253, 253, 0.10);
  margin-bottom: 20px;
  padding: 10px;
  line-height: 2;
  border: 1px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px rgb(0, 0, 0 , 0.08);
}
hr{
  margin: 10px 20px ;
}
.air-condition{
  background-color: rgb(192, 253, 253, 0.10);
  padding: 5px;
  border: 1px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px rgb(0, 0, 0 , 0.08);
  
}
.condition{
  font-size: 16px;
  margin: 20px 10px 10px 10px;
}
.info{
  margin-top: 20px;
  list-style: none;
  color: black;
  
}
.temp{
  font-size: 25px;
}
.unit{
  font-size: 13px;
  position: relative;
  top: -14px;
}
.current-time{
  color: #516787;
  position: relative;
  top: 5px;
  left: 10px;
}
h3,h6,.city{
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Erica One', cursive;
  font-family: 'Lilita One', cursive;
  font-family: 'Sigmar', cursive;
  font-family: 'Titan One', cursive;
}
.icon{
  max-width: 80px;
  margin: 0 auto;
}

p{
  text-align: center;
  font-size:10px;
  margin-top: 0;
}
